/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12-Nov-2019, 12:16:23
    Author     : aleks
*/

.himolaski{
    border: solid blue 1px;
    border-radius: 10px;
    padding: 10px;
    background-color: yellow;
    color: blue;
}
